.DS_Store
npm-debug.log
Thumbs.db
*/node_modules/
*/out/
*/.vs/
jcsql/vsc-extension-quickstart.md
jcsql/CHANGELOG.md
jcsql/resources/pyResources/__pycache__/impala.cpython-37.pyc
jcsql/resources/pyResources/__pycache__/oracle.cpython-37.pyc
jcsql/resources/passResources/pass
jcsql/resources/pyResources/__pycache__/impala.cpython-36.pyc
jcsql/resources/pyResources/__pycache__/oracle.cpython-36.pyc
